@use '../../../variables' as *;

.badge {
  display: inline-block;
  font-family: $secondary-font;
  font-size: 1.2rem;
  color: $white;
  padding: 0.8rem 2rem;
  border-radius: 50px;
  width: fit-content;
//   margin: 5.75rem 0 0 0;
margin: 0;
  letter-spacing: 0.03em;

//
/* From https://css.glass */
background: rgba(255, 255, 255, 0.13);
// border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5.7px);
-webkit-backdrop-filter: blur(5.7px);
border: 1px solid rgba(255, 255, 255, 0.2);
}

