@use '../../variables' as *;

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // background-color: rgb(111, 111, 156);
  background-color: transparent;
  transition: background-color 0.3s ease;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  z-index: 1000;
  font-family: $main-font;
  width: 100%;

  &.scrolled {
    background-color: $main-dark;
  }

  .logo_section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;

    img {
        width: 200px;
      height: auto;
    }
  }

  .nav_links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    li {
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white;
        font-size: 1.1rem;
        position: relative;
        padding-bottom: 4px;
        transition: color 0.3s ease;
        letter-spacing: 0.03em;

        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0;
          height: 2px;
          background-color: $white;
          transition: width 0.3s ease;
        }

        &:hover {
          &::after {
            width: 100%;
          }
        }
      }
    }
  }

  .action_btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
}

